// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Roboto", "Arial", sans-serif;

  // colors
  --white: #fff;
  --light-grey: #fafafa;
  --mid-grey: #bbb;
  --blue: #8fc5dd;
  --mid-blue: #499fc4;
  --dark-blue: #4285f4;
}
